<a href="https://colab.research.google.com/github/ZacharySBrown/dapt-615/blob/master/modules/0_acc_dist_python/cudf_analysis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Install `RAPIDS` and Download Data

In [1]:
# Install RAPIDS
!git clone https://github.com/rapidsai/rapidsai-csp-utils.git
!bash rapidsai-csp-utils/colab/rapids-colab.sh 0.19

import sys, os, shutil

sys.path.append('/usr/local/lib/python3.7/site-packages/')
os.environ['NUMBAPRO_NVVM'] = '/usr/local/cuda/nvvm/lib64/libnvvm.so'
os.environ['NUMBAPRO_LIBDEVICE'] = '/usr/local/cuda/nvvm/libdevice/'
os.environ['CONDA_PREFIX'] = '/usr/local'
for so in ['cudf', 'rmm', 'nccl', 'cuml', 'cugraph', 'xgboost', 'cuspatial']:
  fn = 'lib'+so+'.so'
  source_fn = '/usr/local/lib/'+fn
  dest_fn = '/usr/lib/'+fn
  if os.path.exists(source_fn):
    print(f'Copying {source_fn} to {dest_fn}')
    shutil.copyfile(source_fn, dest_fn)
if not os.path.exists('/usr/lib64'):
    os.makedirs('/usr/lib64')
for so_file in os.listdir('/usr/local/lib'):
  if 'libstdc' in so_file:
    shutil.copyfile('/usr/local/lib/'+so_file, '/usr/lib64/'+so_file)
    shutil.copyfile('/usr/local/lib/'+so_file, '/usr/lib/x86_64-linux-gnu/'+so_file)

!pip install -U cffi

#!bash rapidsai-csp-utils/colab/rapids-colab.sh stable

#import sys, os

#dist_package_index = sys.path.index('/usr/local/lib/python3.6/dist-packages')
#sys.path = sys.path[:dist_package_index] + ['/usr/local/lib/python3.6/site-packages'] + sys.path[dist_package_index:]
#sys.path
#exec(open('rapidsai-csp-utils/colab/update_modules.py').read(), globals())

!wget https://vcu-dapt-615.s3.amazonaws.com/covid_19_data.csv

Cloning into 'rapidsai-csp-utils'...
remote: Enumerating objects: 238, done.
remote: Counting objects: 100% (67/67), done.
remote: Compressing objects: 100% (62/62), done.
remote: Total 238 (delta 36), reused 11 (delta 5), pack-reused 171
Receiving objects: 100% (238/238), 73.89 KiB | 12.31 MiB/s, done.
Resolving deltas: 100% (98/98), done.
PLEASE READ
********************************************************************************************************
Changes:
1. IMPORTANT SCRIPT CHANGES: Colab has updated to Python 3.7, and now runs our STABLE and NIGHTLY versions (0.19 and 0.20)!  PLEASE update your older install script code as follows:
	!bash rapidsai-csp-utils/colab/rapids-colab.sh 0.19

	import sys, os, shutil

	sys.path.append('/usr/local/lib/python3.7/site-packages/')
	os.environ['NUMBAPRO_NVVM'] = '/usr/local/cuda/nvvm/lib64/libnvvm.so'
	os.environ['NUMBAPRO_LIBDEVICE'] = '/usr/local/cuda/nvvm/libdevice/'
	os.environ['CONDA_PREFIX'] = '/usr/local'
	for so in ['cudf', 'rmm', 'nccl', 'cuml', 'cugraph', 'xgboost', 'cuspatial']:
	  fn = 'lib'+so+'.so'
	  source_fn = '/usr/local/lib/'+fn
	  dest_fn = '/usr/lib/'+fn
	  if os.path.exists(source_fn):
	    print(f'Copying {source_fn} to {dest_fn}')
	    shutil.copyfile(source_fn, dest_fn)
	if not os.path.exists('/usr/lib64'):
	    os.makedirs('/usr/lib64')
	for so_file in os.listdir('/usr/local/lib'):
	  if 'libstdc' in so_file:
	    shutil.copyfile('/usr/local/lib/'+so_file, '/usr/lib64/'+so_file)
	    shutil.copyfile('/usr/local/lib/'+so_file, '/usr/lib/x86_64-linux-gnu/'+so_file)

2. IMPORTANT NOTICE: If you need CuGraph, please use RAPIDS 0.18 for now.
3. IMPORTANT NOTICE: CuGraph's Louvain requires a Volta+ GPU (T4, V100).  If you get a P4 or P100 and intend to use Louvain, please FACTORY RESET your instance and try to get a compatible GPU
4. Default stable version is now 0.19.  Nightly is now 0.20.
5. You can declare your RAPIDSAI version as a CLI option and skip the user prompts (ex: '0.19' or '0.20', between 0.18 to 0.20, without the quotes):
        "!bash rapidsai-csp-utils/colab/rapids-colab.sh <version/label>"
        Examples: '!bash rapidsai-csp-utils/colab/rapids-colab.sh 0.19', or '!bash rapidsai-csp-utils/colab/rapids-colab.sh stable', or '!bash rapidsai-csp-utils/colab/rapids-colab.sh s'
                  '!bash rapidsai-csp-utils/colab/rapids-colab.sh 0.20, or '!bash rapidsai-csp-utils/colab/rapids-colab.sh nightly', or '!bash rapidsai-csp-utils/colab/rapids-colab.sh n'
Enjoy using RAPIDS!  If you have any issues with or suggestions for RAPIDSAI on Colab, please create a bug request on https://github.com/rapidsai/rapidsai-csp-utils/issues/new.
For a near instant entry into a RAPIDS Library experience, or if we haven't fixed a fatal issue yet, please use https://app.blazingsql.com/.  Thanks!
RAPIDS Version to install is 0.19
Checking for GPU type:
***********************************************************************
Woo! Your instance has the right kind of GPU, a Tesla V100-SXM2-16GB!
***********************************************************************

Collecting cupy-cuda110==8.6.0
  Downloading https://files.pythonhosted.org/packages/40/cc/6886c38a071138dd2bc52ddfe09a90b1fa0f8a3ee17522958e7074504d74/cupy_cuda110-8.6.0-cp37-cp37m-manylinux1_x86_64.whl (165.3MB)
     |████████████████████████████████| 165.3MB 82kB/s
Requirement already satisfied: numpy>=1.15 in /usr/local/lib/python3.7/dist-packages (from cupy-cuda110==8.6.0) (1.19.5)
Requirement already satisfied: fastrlock>=0.3 in /usr/local/lib/python3.7/dist-packages (from cupy-cuda110==8.6.0) (0.6)
Installing collected packages: cupy-cuda110
Successfully installed cupy-cuda110-8.6.0
Removing conflicting packages, will replace with RAPIDS compatible versions
Uninstalling dask-2.12.0:
  Successfully uninstalled dask-2.12.0
Uninstalling distributed-1.25.3:
  Successfully uninstalled distributed-1.25.3
Uninstalling xgboost-0.90:
  Successfully uninstalled xgboost-0.90
Uninstalling pyarrow-3.0.0:
  Successfully uninstalled pyarrow-3.0.0
Uninstalling numba-0.51.2:
  Successfully uninstalled numba-0.51.2
Uninstalling llvmlite-0.34.0:
  Successfully uninstalled llvmlite-0.34.0
Uninstalling PySocks-1.7.1:
  Successfully uninstalled PySocks-1.7.1
Uninstalling requests-2.23.0:
  Successfully uninstalled requests-2.23.0
Uninstalling six-1.15.0:
  Successfully uninstalled six-1.15.0
Uninstalling urllib3-1.24.3:
  Successfully uninstalled urllib3-1.24.3
Uninstalling cffi-1.14.5:
  Successfully uninstalled cffi-1.14.5
Installing conda
--2021-05-15 00:37:54--  https://repo.anaconda.com/miniconda/Miniconda3-py37_4.9.2-Linux-x86_64.sh
Resolving repo.anaconda.com (repo.anaconda.com)... 104.16.131.3, 104.16.130.3, 2606:4700::6810:8203, ...
Connecting to repo.anaconda.com (repo.anaconda.com)|104.16.131.3|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 90040905 (86M) [application/x-sh]
Saving to: ‘Miniconda3-py37_4.9.2-Linux-x86_64.sh’

Miniconda3-py37_4.9 100%[===================>]  85.87M   213MB/s    in 0.4s

2021-05-15 00:37:54 (213 MB/s) - ‘Miniconda3-py37_4.9.2-Linux-x86_64.sh’ saved [90040905/90040905]

PREFIX=/usr/local
Unpacking payload ...
Collecting package metadata (current_repodata.json): - \ done
Solving environment: / - done

## Package Plan ##

  environment location: /usr/local

  added / updated specs:
    - _libgcc_mutex==0.1=main
    - brotlipy==0.7.0=py37h27cfd23_1003
    - ca-certificates==2020.10.14=0
    - certifi==2020.6.20=pyhd3eb1b0_3
    - cffi==1.14.3=py37h261ae71_2
    - chardet==3.0.4=py37h06a4308_1003
    - conda-package-handling==1.7.2=py37h03888b9_0
    - conda==4.9.2=py37h06a4308_0
    - cryptography==3.2.1=py37h3c74f83_1
    - idna==2.10=py_0
    - ld_impl_linux-64==2.33.1=h53a641e_7
    - libedit==3.1.20191231=h14c3975_1
    - libffi==3.3=he6710b0_2
    - libgcc-ng==9.1.0=hdf63c60_0
    - libstdcxx-ng==9.1.0=hdf63c60_0
    - ncurses==6.2=he6710b0_1
    - openssl==1.1.1h=h7b6447c_0
    - pip==20.2.4=py37h06a4308_0
    - pycosat==0.6.3=py37h27cfd23_0
    - pycparser==2.20=py_2
    - pyopenssl==19.1.0=pyhd3eb1b0_1
    - pysocks==1.7.1=py37_1
    - python==3.7.9=h7579374_0
    - readline==8.0=h7b6447c_0
    - requests==2.24.0=py_0
    - ruamel_yaml==0.15.87=py37h7b6447c_1
    - setuptools==50.3.1=py37h06a4308_1
    - six==1.15.0=py37h06a4308_0
    - sqlite==3.33.0=h62c20be_0
    - tk==8.6.10=hbc83047_0
    - tqdm==4.51.0=pyhd3eb1b0_0
    - urllib3==1.25.11=py_0
    - wheel==0.35.1=pyhd3eb1b0_0
    - xz==5.2.5=h7b6447c_0
    - yaml==0.2.5=h7b6447c_0
    - zlib==1.2.11=h7b6447c_3


The following NEW packages will be INSTALLED:

  _libgcc_mutex      pkgs/main/linux-64::_libgcc_mutex-0.1-main
  brotlipy           pkgs/main/linux-64::brotlipy-0.7.0-py37h27cfd23_1003
  ca-certificates    pkgs/main/linux-64::ca-certificates-2020.10.14-0
  certifi            pkgs/main/noarch::certifi-2020.6.20-pyhd3eb1b0_3
  cffi               pkgs/main/linux-64::cffi-1.14.3-py37h261ae71_2
  chardet            pkgs/main/linux-64::chardet-3.0.4-py37h06a4308_1003
  conda              pkgs/main/linux-64::conda-4.9.2-py37h06a4308_0
  conda-package-han~ pkgs/main/linux-64::conda-package-handling-1.7.2-py37h03888b9_0
  cryptography       pkgs/main/linux-64::cryptography-3.2.1-py37h3c74f83_1
  idna               pkgs/main/noarch::idna-2.10-py_0
  ld_impl_linux-64   pkgs/main/linux-64::ld_impl_linux-64-2.33.1-h53a641e_7
  libedit            pkgs/main/linux-64::libedit-3.1.20191231-h14c3975_1
  libffi             pkgs/main/linux-64::libffi-3.3-he6710b0_2
  libgcc-ng          pkgs/main/linux-64::libgcc-ng-9.1.0-hdf63c60_0
  libstdcxx-ng       pkgs/main/linux-64::libstdcxx-ng-9.1.0-hdf63c60_0
  ncurses            pkgs/main/linux-64::ncurses-6.2-he6710b0_1
  openssl            pkgs/main/linux-64::openssl-1.1.1h-h7b6447c_0
  pip                pkgs/main/linux-64::pip-20.2.4-py37h06a4308_0
  pycosat            pkgs/main/linux-64::pycosat-0.6.3-py37h27cfd23_0
  pycparser          pkgs/main/noarch::pycparser-2.20-py_2
  pyopenssl          pkgs/main/noarch::pyopenssl-19.1.0-pyhd3eb1b0_1
  pysocks            pkgs/main/linux-64::pysocks-1.7.1-py37_1
  python             pkgs/main/linux-64::python-3.7.9-h7579374_0
  readline           pkgs/main/linux-64::readline-8.0-h7b6447c_0
  requests           pkgs/main/noarch::requests-2.24.0-py_0
  ruamel_yaml        pkgs/main/linux-64::ruamel_yaml-0.15.87-py37h7b6447c_1
  setuptools         pkgs/main/linux-64::setuptools-50.3.1-py37h06a4308_1
  six                pkgs/main/linux-64::six-1.15.0-py37h06a4308_0
  sqlite             pkgs/main/linux-64::sqlite-3.33.0-h62c20be_0
  tk                 pkgs/main/linux-64::tk-8.6.10-hbc83047_0
  tqdm               pkgs/main/noarch::tqdm-4.51.0-pyhd3eb1b0_0
  urllib3            pkgs/main/noarch::urllib3-1.25.11-py_0
  wheel              pkgs/main/noarch::wheel-0.35.1-pyhd3eb1b0_0
  xz                 pkgs/main/linux-64::xz-5.2.5-h7b6447c_0
  yaml               pkgs/main/linux-64::yaml-0.2.5-h7b6447c_0
  zlib               pkgs/main/linux-64::zlib-1.2.11-h7b6447c_3


Preparing transaction: | / - done
Executing transaction: | / - \ | / - \ | / - \ done
installation finished.
WARNING:
    You currently have a PYTHONPATH environment variable set. This may cause
    unexpected behavior when running the Python interpreter in Miniconda3.
    For best results, please verify that your PYTHONPATH only points to
    directories of packages that are compatible with the Python interpreter
    in Miniconda3: /usr/local
Installing RAPIDS 0.19 packages from the stable release channel
Please standby, this will take a few minutes...
Collecting package metadata (current_repodata.json): - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / done
Solving environment: \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - failed with initial frozen solve. Retrying with flexible solve.
Solving environment: | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - failed with repodata from current_repodata.json, will retry with next repodata source.
Collecting package metadata (repodata.json): | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ done

# Understanding and Applying Data Analysis with Python

## Outline

1. File I/O and working with data in pandas

    * Reading, writing, and creating structured data in Python
    * Viewing, inspecting, and selecting data
    
    
2. Exploratory data analysis with pandas

    * Data cleaning
    * Summary statistics
    * Data transformations
    * Sorting, aggregation, joins and pivots
    * Data visualization

## Project Jupyter

Project Jupyter exists to develop open-source software, open-standards, and services for interactive computing across dozens of programming languages. Jupyter supports over 40 programming languages, including Python, R, Julia, and Scala.

The Jupyter Notebook is an open-source web application that allows you to create and share documents that contain live code, equations, visualizations and narrative text. Uses include: data cleaning and transformation, numerical simulation, statistical modeling, data visualization, machine learning, and much more.

Try Jupyter without installing anything: https://jupyter.org/try

## Novel Corona Virus 2019 Dataset: day level information on COVID-19 affected cases

### About this dataset:

https://www.kaggle.com/sudalairajkumar/novel-corona-virus-2019-dataset/data?select=covid_19_data.csv

(original: Johns Hopkins Github repository: https://github.com/CSSEGISandData/COVID-19)

Name of the file: "covid_19_data.csv"

Columns description:

- **Sno** - Serial number
- **ObservationDate** - Date of the observation in MM/DD/YYYY
- **Province/State** - Province or state of the observation (Could be empty when missing)
- **Country/Region** - Country of observation
- **Last Update** - Time in UTC at which the row is updated for the given province or country. (Not standardised and so please clean before using it)
- **Confirmed** - Cumulative number of confirmed cases till that date
- **Deaths** - Cumulative number of of deaths till that date
- **Recovered** - Cumulative number of recovered cases till that date

## 1. File I/O and working with data in pandas

### Reading Data

In [2]:
#To start working with cuDF, we need to import this library:
import cudf

#We'll also import the Pandas library as well for occassional performance comparisons:
import pandas as pd

Most of the time, you will be probably working with data that already exists in variety of different formats.
By far the most basic of these are CSV or Excel files. This is how you read these files with pandas:

In [5]:
#read CSV file in pandas:
pd_covid = pd.read_csv('covid_19_data.csv')

covid = cudf.from_pandas(pd_covid)

Let's pause here for a minute, and try to understand what exactly happens once we run **pandas.read_csv** command.

Two core objects in pandas are the **DataFrame** and the **Series**.

A **DataFrame** is a table. It contains an array of individual entries, each of which has a certain value. Each entry corresponds to a row and a column. The list of row labels used in a DataFrame is known as an Index.

In our example above, *covid* is a DataFrame created from 'covid_19_data.csv' file.

In [6]:
#We can examine the contents of our DataFrame using the head() command:
covid.head()

   SNo ObservationDate ProvinceState  ... Confirmed Deaths  Recovered
0    1      01/22/2020         Anhui  ...       1.0    0.0        0.0
1    2      01/22/2020       Beijing  ...      14.0    0.0        0.0
2    3      01/22/2020     Chongqing  ...       6.0    0.0        0.0
3    4      01/22/2020        Fujian  ...       1.0    0.0        0.0
4    5      01/22/2020         Gansu  ...       0.0    0.0        0.0

[5 rows x 8 columns]

From this example, we can see that DataFrame entries are not limited to integers. For instance, there is an entry with value of "Beijing", which is a string.

A **Series**, the second core pandas object, is a sequence of data values. If a DataFrame is a table, a Series is a list and,  in essence, it is a single column of a DataFrame.

In [7]:
#This is how we can see all the Series names in our DataFrame:
covid.columns

Index(['SNo', 'ObservationDate', 'ProvinceState', 'CountryRegion',
       'LastUpdate', 'Confirmed', 'Deaths', 'Recovered'],
      dtype='object')

## Viewing, inspecting, and selecting data

Let's return to our **covid** DataFrame. Remember - you can use *head()* method to view the first *n* rows:

In [8]:
#View first 3 rows of data set:
covid.head(3)

   SNo ObservationDate ProvinceState  ... Confirmed Deaths  Recovered
0    1      01/22/2020         Anhui  ...       1.0    0.0        0.0
1    2      01/22/2020       Beijing  ...      14.0    0.0        0.0
2    3      01/22/2020     Chongqing  ...       6.0    0.0        0.0

[3 rows x 8 columns]

In [9]:
#In a similar way, you can inspect last n rows with tail() method:
covid.tail()

           SNo ObservationDate      ProvinceState  ... Confirmed  Deaths  Recovered
172475  172476      12/06/2020  Zaporizhia Oblast  ...   36539.0   337.0     6556.0
172476  172477      12/06/2020            Zeeland  ...    6710.0   104.0        0.0
172477  172478      12/06/2020           Zhejiang  ...    1295.0     1.0     1288.0
172478  172479      12/06/2020    Zhytomyr Oblast  ...   31967.0   531.0    22263.0
172479  172480      12/06/2020       Zuid-Holland  ...  154813.0  2414.0        0.0

[5 rows x 8 columns]

Pandas objects have a number of attributes enabling you to access the metadata. We can also use the **shape** attribute to check how large this DataFrame is:

In [10]:
#Check the data set size:
covid.shape

(172480, 8)

To see list of all columns, use *columns* attribute:

In [11]:
#See the list of all DataFrame columns:
covid.columns

Index(['SNo', 'ObservationDate', 'ProvinceState', 'CountryRegion',
       'LastUpdate', 'Confirmed', 'Deaths', 'Recovered'],
      dtype='object')

There are two ways to access values in any column within the DataFrame. One is the following:

In [12]:
#Look at first 5 rows of 'ObservationDate' column:
covid.ObservationDate.head()

0    01/22/2020
1    01/22/2020
2    01/22/2020
3    01/22/2020
4    01/22/2020
Name: ObservationDate, dtype: object

And another way is to use Python indexing (**[ ]**) operator:

In [13]:
#Look at first 5 rows of 'Last Update' column:
covid['LastUpdate'].head()

0    1/22/2020 17:00
1    1/22/2020 17:00
2    1/22/2020 17:00
3    1/22/2020 17:00
4    1/22/2020 17:00
Name: LastUpdate, dtype: object

(The advantage of this way is that it handles column names with reserved characters in them.)

We can also select multiple columns by providing list of their names (this will return columns as a new DataFrame):

In [14]:
#select multiple columns:
covid[['ObservationDate', 'Confirmed', 'Recovered']].head()

  ObservationDate  Confirmed  Recovered
0      01/22/2020        1.0        0.0
1      01/22/2020       14.0        0.0
2      01/22/2020        6.0        0.0
3      01/22/2020        1.0        0.0
4      01/22/2020        0.0        0.0

To look at a single specific value within Series, we need to use the indexing operator once more:

In [16]:
covid['ProvinceState'][3]

'Fujian'

In [17]:
covid.head()

   SNo ObservationDate ProvinceState  ... Confirmed Deaths  Recovered
0    1      01/22/2020         Anhui  ...       1.0    0.0        0.0
1    2      01/22/2020       Beijing  ...      14.0    0.0        0.0
2    3      01/22/2020     Chongqing  ...       6.0    0.0        0.0
3    4      01/22/2020        Fujian  ...       1.0    0.0        0.0
4    5      01/22/2020         Gansu  ...       0.0    0.0        0.0

[5 rows x 8 columns]

In addition to Python-native indexing operator, we can also use **iloc** and **loc**. 

We use **iloc** to select data based on its numerical position.

In [18]:
#Select first row of data:
covid.iloc[0]

   SNo ObservationDate ProvinceState  ... Confirmed Deaths  Recovered
0    1      01/22/2020         Anhui  ...       1.0    0.0        0.0

[1 rows x 8 columns]

In [19]:
#If, instead, we want to get first column of data, we would use:
covid.iloc[:, 2].head()

0        Anhui
1      Beijing
2    Chongqing
3       Fujian
4        Gansu
Name: ProvinceState, dtype: object

We use **loc** for label-based selection:

In [21]:
covid.loc[:, ['ObservationDate', 'CountryRegion', 'Confirmed']].head()

  ObservationDate   CountryRegion  Confirmed
0      01/22/2020  Mainland China        1.0
1      01/22/2020  Mainland China       14.0
2      01/22/2020  Mainland China        6.0
3      01/22/2020  Mainland China        1.0
4      01/22/2020  Mainland China        0.0

Usually, data selection based on *conditions* provides the most interesting insights.

Let's take a look at Italy-related data:

In [22]:
#Select 'Italy' Country/Region data:
covid[covid['CountryRegion'] == 'Italy']

           SNo ObservationDate  ProvinceState  ... Confirmed  Deaths  Recovered
480        481      01/31/2020           <NA>  ...       2.0     0.0        0.0
539        540      02/01/2020           <NA>  ...       2.0     0.0        0.0
608        609      02/02/2020           <NA>  ...       2.0     0.0        0.0
675        676      02/03/2020           <NA>  ...       2.0     0.0        0.0
743        744      02/04/2020           <NA>  ...       2.0     0.0        0.0
...        ...             ...            ...  ...       ...     ...        ...
172361  172362      12/06/2020        Sicilia  ...   71489.0  1759.0    29984.0
172401  172402      12/06/2020        Toscana  ...  108397.0  2867.0    76331.0
172414  172415      12/06/2020         Umbria  ...   25144.0   460.0    18619.0
172431  172432      12/06/2020  Valle d'Aosta  ...    6726.0   333.0     5406.0
172440  172441      12/06/2020         Veneto  ...  165249.0  4210.0    84235.0

[4451 rows x 8 columns]

To see the number of confirmed cases in Italy as of April 13, we can use the apmersand (**&**) to bring the two questions together:

In [23]:
#Confirmed cases in Italy as of April 13, 2020:
covid[(covid['CountryRegion'] == 'Italy') & (covid['ObservationDate'] == '04/13/2020')].Confirmed

14591    159516.0
Name: Confirmed, dtype: float64

If, instead, we are interested in seeing all the data related to California or Washington states in US, we would use a pipe (**|**):

In [24]:
covid[(covid['CountryRegion'] == 'US') &
      ((covid['ProvinceState'] == 'Washington') | (covid['ProvinceState'] == 'California'))].head(7)

     SNo ObservationDate ProvinceState  ... Confirmed Deaths  Recovered
31    32      01/22/2020    Washington  ...       1.0    0.0        0.0
69    70      01/23/2020    Washington  ...       1.0    0.0        0.0
117  118      01/24/2020    Washington  ...       1.0    0.0        0.0
158  159      01/25/2020    Washington  ...       1.0    0.0        0.0
202  203      01/26/2020    Washington  ...       1.0    0.0        0.0
204  205      01/26/2020    California  ...       2.0    0.0        0.0
249  250      01/27/2020    Washington  ...       1.0    0.0        0.0

[7 rows x 8 columns]

To get the same results, we might also use pandas built-in conditional selector **isin()**:

In [25]:
#Alternative way of looking at all data relates to CA and WA states in US:
covid[(covid['CountryRegion'] == 'US') &
      (covid['ProvinceState'].isin(['Washington', 'California']))].head(7)

     SNo ObservationDate ProvinceState  ... Confirmed Deaths  Recovered
31    32      01/22/2020    Washington  ...       1.0    0.0        0.0
69    70      01/23/2020    Washington  ...       1.0    0.0        0.0
117  118      01/24/2020    Washington  ...       1.0    0.0        0.0
158  159      01/25/2020    Washington  ...       1.0    0.0        0.0
202  203      01/26/2020    Washington  ...       1.0    0.0        0.0
204  205      01/26/2020    California  ...       2.0    0.0        0.0
249  250      01/27/2020    Washington  ...       1.0    0.0        0.0

[7 rows x 8 columns]

### Assigning data

Sometimes we might want to re-write all the values within the Series. For example, we can create a new column "Source", and fill it in with "Trusted":

In [26]:
#Create a new "Source" column:
covid['Source'] = 'Trusted'
covid.head()

   SNo ObservationDate ProvinceState  ... Deaths Recovered   Source
0    1      01/22/2020         Anhui  ...    0.0       0.0  Trusted
1    2      01/22/2020       Beijing  ...    0.0       0.0  Trusted
2    3      01/22/2020     Chongqing  ...    0.0       0.0  Trusted
3    4      01/22/2020        Fujian  ...    0.0       0.0  Trusted
4    5      01/22/2020         Gansu  ...    0.0       0.0  Trusted

[5 rows x 9 columns]

## 2. Exploratory data analysis with pandas

### Data cleaning

#### Remove unnecessary data

Now that we have covered some basics of data exporting and viewing, let's see how we can clean our sample dataset for further analysis.

First of all, let's delete the "Source" column we just created. To do this, we will use **drop()** method. Its *axis* parameter identifies whether we want to drop labels from the index (0 or ‘index’) or columns (1 or ‘columns’):

In [28]:
#drop "Source', 'SNo', and 'LastUpdate' columns:
covid = covid.drop(['Source', 'LastUpdate', 'SNo'], axis = 1)
covid.head(2)

  ObservationDate ProvinceState   CountryRegion  Confirmed  Deaths  Recovered
0      01/22/2020         Anhui  Mainland China        1.0     0.0        0.0
1      01/22/2020       Beijing  Mainland China       14.0     0.0        0.0

(Here, we also dropped 'SNo' column, which is basically another index column, and 'Last Update' column since it was showing time in UTC at which the row is updated for the given province or country.)

In [29]:
#To drop a row (or multiple rows) by index, we would use the following syntax:
#covid.drop([0, 1]) - drop first two rows

#### Rename columns

Sometimes, data sets we are working with come with column names or index names which are not very convenient. For example, we have 'Province/State' and 'Country/Region' columns which have special characters in their names, and also 'Last Update' column with a space in it. Let's rename them:

In [30]:
#Rename 'Province/State' column to a 'Region', and 'Country/Region' column to a 'Country':
covid = covid.rename(columns = {'ProvinceState': 'Region', 'CountryRegion': 'Country'})
covid.head()

  ObservationDate     Region         Country  Confirmed  Deaths  Recovered
0      01/22/2020      Anhui  Mainland China        1.0     0.0        0.0
1      01/22/2020    Beijing  Mainland China       14.0     0.0        0.0
2      01/22/2020  Chongqing  Mainland China        6.0     0.0        0.0
3      01/22/2020     Fujian  Mainland China        1.0     0.0        0.0
4      01/22/2020      Gansu  Mainland China        0.0     0.0        0.0

#### Remove duplicate records

First, we check if there are any duplicate records using **duplicated()** method which returns boolean True/False values:

In [31]:
# NOT SUPPORTED IN RAPIDS
covid.duplicated().head()

AttributeError: ignored

Of course we do not want to scrool through thousands of returned True/False. Instead, we can check for unique vaules:

In [34]:
#Check for duplicated values using unique() method:
covid.drop_duplicates().shape

(172480, 6)

In [35]:
covid.shape

(172480, 6)

To remove duplicated records from the DataFrame, we would use the following syntax:

**df = df.drop_duplicates()**

To remove duplicates of only one or a subset of columns, we can specify *subset* as the individual column or list of columns that should be unique:

**df.drop_duplicates(subset = ['Column_1', 'Column_2'], keep = 'False')**

We can do the same task conditional on a different column’s value. In such case we can **sort_values()** first, and specify **keep** equals either first or last:

**df.sort_values('Column_1', ascending=False)**

**df = df.drop_duplicates(subset='Column_2', keep='first')**

#### Data types

We should also investigate data types within our dataframe. To do this, we use **dtype** (for a Series) or **dtypes** (for a DataFrame) attribute:

In [36]:
#check all data types within our dataset:
covid.dtypes

ObservationDate     object
Region              object
Country             object
Confirmed          float64
Deaths             float64
Recovered          float64
dtype: object

In [37]:
#check data type of specific column:
covid.Confirmed.dtype

dtype('float64')

Note that columns consisting entirely of strings do not get their own type in pandas; they are instead given the object type.

Sometimes we would like to convert a column of one type into another wherever such a conversion makes sense by using the **astype()** function. In our dataframe, we may transform the *Deaths* column from its existing float64 data type into a int64 data type:

In [38]:
#Convert 'Deaths' values to integers:
covid.Deaths = covid.Deaths.fillna(0).astype('int64')
covid.dtypes

ObservationDate     object
Region              object
Country             object
Confirmed          float64
Deaths               int64
Recovered          float64
dtype: object

Also, to make work with dates easier, let's convert 'ObservationDate' column to pandas *datetime* object:

In [39]:
#Convert ObservationDate column to datetime:
covid['ObservationDate'] = cudf.to_datetime(covid.ObservationDate)

In [40]:
covid.dtypes

ObservationDate    datetime64[ns]
Region                     object
Country                    object
Confirmed                 float64
Deaths                      int64
Recovered                 float64
dtype: object

#### Convert strings to uppercase:

Many times, when we work with string data in our data set, it might be a good idea to convert all characters to uppercase and strip extra whitespaces before and after each string.

In [41]:
covid.head(2)

  ObservationDate   Region         Country  Confirmed  Deaths  Recovered
0      2020-01-22    Anhui  Mainland China        1.0       0        0.0
1      2020-01-22  Beijing  Mainland China       14.0       0        0.0

Let's modify strings within the 'Region' and 'Country' Series of our data set. To convert strings in the Series/Index to uppercase, we can use **upper()** method:

In [42]:
#Convert 'Region' and 'Country' to uppercase:
covid.Region = covid.Region.str.upper()
covid.Country = covid.Country.str.upper()

In [43]:
covid.head()

  ObservationDate     Region         Country  Confirmed  Deaths  Recovered
0      2020-01-22      ANHUI  MAINLAND CHINA        1.0       0        0.0
1      2020-01-22    BEIJING  MAINLAND CHINA       14.0       0        0.0
2      2020-01-22  CHONGQING  MAINLAND CHINA        6.0       0        0.0
3      2020-01-22     FUJIAN  MAINLAND CHINA        1.0       0        0.0
4      2020-01-22      GANSU  MAINLAND CHINA        0.0       0        0.0

To remove leading and trailing characters, we would use **strip()** method:

In [44]:
covid.Region = covid.Region.str.strip()
covid.Country = covid.Country.str.strip()

Note: Sometimes, we might want to remove leading (**lstrip()**) or trailing (**rstrip()**) characters only.

#### Missing values

Usually, when we work with real-world data, we always have some missing records. To find these missing values, also known as **NaN** (Not a Number), in our data set, we would use **isnull** method (or, alternatively, **notnull()** method which will select not empty values)

In [45]:
#Check which coumns in our data set have missing values:
covid.isnull().any()

ObservationDate    False
Region              True
Country            False
Confirmed          False
Deaths             False
Recovered          False
dtype: bool

In [46]:
covid[covid.Region.isnull()].head()

   ObservationDate Region      Country  Confirmed  Deaths  Recovered
35      2020-01-22   <NA>        JAPAN        2.0       0        0.0
36      2020-01-22   <NA>     THAILAND        2.0       0        0.0
37      2020-01-22   <NA>  SOUTH KOREA        1.0       0        0.0
73      2020-01-23   <NA>        JAPAN        1.0       0        0.0
74      2020-01-23   <NA>     THAILAND        3.0       0        0.0

In [47]:
#Check how many values are missing:
percent_missing = covid.isnull().sum() * 100 / len(covid)
missing_df = cudf.DataFrame({'column_name': covid.columns,
                                 'percent_missing': percent_missing})
missing_df

                     column_name  percent_missing
ObservationDate  ObservationDate          0.00000
Region                    Region         27.76148
Country                  Country          0.00000
Confirmed              Confirmed          0.00000
Deaths                    Deaths          0.00000
Recovered              Recovered          0.00000

To perform data analysis, we would like to replace missing values, and pandas provides a really handy method for this problem: **fillna()**. 

In our case, we can simply replace each NaN with an 'Unknown':

In [48]:
#To drop all the missing values in one column:
#df = df.dropna(subset = ['Column_Name'])

In [49]:
#Replace missing 'Region' calues with 'Unknown':
covid['Region'] = covid['Region'].fillna('Unknown')
covid.iloc[35:40]

   ObservationDate   Region         Country  Confirmed  Deaths  Recovered
35      2020-01-22  Unknown           JAPAN        2.0       0        0.0
36      2020-01-22  Unknown        THAILAND        2.0       0        0.0
37      2020-01-22  Unknown     SOUTH KOREA        1.0       0        0.0
38      2020-01-23    ANHUI  MAINLAND CHINA        9.0       0        0.0
39      2020-01-23  BEIJING  MAINLAND CHINA       22.0       0        0.0

In [50]:
covid.isnull().any()

ObservationDate    False
Region             False
Country            False
Confirmed          False
Deaths             False
Recovered          False
dtype: bool

Sometimes it makes sense to remove missing values from data set, and in that case we would use **dropna()** method. By default, **dropna()** will drop all rows in which any null value is present:

**df.dropna()**

We can also drop missing values along a different axis; *axis=1* drops all columns containing a null value.

### Summary statistics

Pandas provides some handy methods which allow us to see a high-level summary of data. We already familiar with one of these methods - **describe()**:

In [51]:
#Applied to numerical data:
covid.Confirmed.describe()

count    1.724800e+05
mean     3.323156e+04
std      1.031349e+05
min     -3.028440e+05
25%      4.570000e+02
50%      4.016500e+03
75%      1.884300e+04
max      2.290891e+06
Name: Confirmed, dtype: float64

In [52]:
covid.head()

  ObservationDate     Region         Country  Confirmed  Deaths  Recovered
0      2020-01-22      ANHUI  MAINLAND CHINA        1.0       0        0.0
1      2020-01-22    BEIJING  MAINLAND CHINA       14.0       0        0.0
2      2020-01-22  CHONGQING  MAINLAND CHINA        6.0       0        0.0
3      2020-01-22     FUJIAN  MAINLAND CHINA        1.0       0        0.0
4      2020-01-22      GANSU  MAINLAND CHINA        0.0       0        0.0

In [53]:
#Applied to string data:
# NOT SUPPORTED IN RAPIDS!!!
covid.Country.describe()

count     172480
unique       225
top           US
freq       16648
Name: Country, dtype: object

For the reference, here are some others commonly used methods (they can be applies to a Series as well):

**df.describe()** - summary statistics for numerical columns

**df.mean()** - returns the mean of all columns

**df.corr()** - returns the correlation between columns in a DataFrame

**df.count()** - returns the number of non-null values in each DataFrame column

**df.max()** - returns the highest value in each column

**df.min()** - returns the lowest value in each column

**df.median()** - returns the median of each column

**df.std()** - returns the standard deviation of each column

To see a list of all unique values in certain Series, we would use the **unique()** method:

In [54]:
#See the list of unique 'Country' values:
covid.Country.unique()

0         ('ST. MARTIN',)
1             AFGHANISTAN
2                 ALBANIA
3                 ALGERIA
4                 ANDORRA
              ...
220    WEST BANK AND GAZA
221        WESTERN SAHARA
222                 YEMEN
223                ZAMBIA
224              ZIMBABWE
Name: Country, Length: 225, dtype: object

**nunique()** will return a number of unique values:

In [55]:
#Number of unique countries:
covid.Country.nunique()

225

### Data transformations with 'map' and 'apply'

There are two methods in pandas which allow us to take one set of values and "map" them to another set. **map()** returns a new Series where all the values have been transformed.

Let's say we have noticed that 'Country' Series contains, among others, entries for 'Mainland China', 'Hong Kong', and 'Macau'. We know that they are all parts of People's Republic of China, and would prefer to use 'China' for all of them. Here is how this can be done:

In [56]:
s = set(['MAINLAND CHINA', 'HONG KONG', 'MACAU'])

country_pandas = covid['Country'].to_pandas()

country_pandas_fixed = country_pandas.map(lambda x: 'CHINA' if x in s else x)
country_pandas_fixed.head()
covid['GeneralCountry'] = country_pandas_fixed
covid.head()

  ObservationDate     Region         Country  ...  Deaths  Recovered  GeneralCountry
0      2020-01-22      ANHUI  MAINLAND CHINA  ...       0        0.0           CHINA
1      2020-01-22    BEIJING  MAINLAND CHINA  ...       0        0.0           CHINA
2      2020-01-22  CHONGQING  MAINLAND CHINA  ...       0        0.0           CHINA
3      2020-01-22     FUJIAN  MAINLAND CHINA  ...       0        0.0           CHINA
4      2020-01-22      GANSU  MAINLAND CHINA  ...       0        0.0           CHINA

[5 rows x 7 columns]

Let's say we needed to adjust our confirmed up by a single case for every observation. For this, we can use the `applymap` method on a single _numeric_ `cudf` column (`Series`) in the `DataFrame`.

In [57]:
covid['Confirmed_Adjusted'] = covid['Confirmed'].applymap(lambda x: x + 1.0)
covid.head()

  ObservationDate     Region  ... GeneralCountry  Confirmed_Adjusted
0      2020-01-22      ANHUI  ...          CHINA                 2.0
1      2020-01-22    BEIJING  ...          CHINA                15.0
2      2020-01-22  CHONGQING  ...          CHINA                 7.0
3      2020-01-22     FUJIAN  ...          CHINA                 2.0
4      2020-01-22      GANSU  ...          CHINA                 1.0

[5 rows x 8 columns]

Here we used a small anonymous function (*lambda function*) which can take any number of arguments, but can only have one expression. Once the expression is executed, it returns the result.

**apply_rows()** is a similar method which be applied to DataFrames. The difference is that **apply_rows()** works on a row/column basis of a DataFrame, while **map()** works element-wise on a Series.

Let's create a function which calculates "naive" mortality rate, and write its output in a new 'MortalityRate' column using **apply_rows()** method:

In [58]:
#Create MortalityRate column using apply() method:
import numpy as np
def naive_rate(deaths, confirmed, MortalityRate):
    for it, (d, c) in enumerate(zip(deaths, confirmed)):
        if c > 0:
            MortalityRate[it] = d/c
        else:
            MortalityRate[it] = 0
            
covid = covid.apply_rows(naive_rate,
                   incols={'Deaths':'deaths', 'Confirmed':'confirmed'},
                   outcols={'MortalityRate': np.float64},
                   kwargs={}
                  )
covid[covid.MortalityRate != 0].head()

    ObservationDate        Region  ... Confirmed_Adjusted  MortalityRate
13       2020-01-22         HUBEI  ...              445.0       0.038288
47       2020-01-23         HEBEI  ...                2.0       1.000000
51       2020-01-23         HUBEI  ...              445.0       0.038288
84       2020-01-24         HUBEI  ...              550.0       0.043716
103      2020-01-24  HEILONGJIANG  ...                5.0       0.250000

[5 rows x 9 columns]

### Sorting

In many cases, we would like to first sort values in our data set, and then perform further data manipulations. To sort data and get it in the desired order we can use **sort_values()** method.

In [59]:
#Sort values by 'GeneralCountry':
covid.sort_values(by = 'GeneralCountry').head()

     ObservationDate   Region  ... Confirmed_Adjusted  MortalityRate
4674      2020-03-10  Unknown  ...                3.0            0.0
2258      2020-02-24  Unknown  ...                2.0            0.0
2351      2020-02-25  Unknown  ...                2.0            0.0
2452      2020-02-26  Unknown  ...                2.0            0.0
2556      2020-02-27  Unknown  ...                2.0            0.0

[5 rows x 9 columns]

**sort_values()** defaults to an ascending sort, where the lowest values go first. To obtain a descending sort, we need to specify *ascending* parameter:

In [60]:
#Sort values by 'ObservationDate' and 'Confirmed' in descending order:
covid.sort_values(by = ['ObservationDate', 'Confirmed'], ascending = False).head(2)

       ObservationDate       Region  ... Confirmed_Adjusted  MortalityRate
171774      2020-12-06      Unknown  ...          2290892.0       0.023923
172181      2020-12-06  MAHARASHTRA  ...          1852267.0       0.025771

[2 rows x 9 columns]

### Grouping

Depending on our goals, we might prefer to group data first, and then perform some operations on this group. In pandas, we can do it with **groupby()** method. However, simple call of a *groupby* method on our data set will return not a set of DataFrames, but a DataFrameGroupBy object:

In [61]:
#Group by 'GeneralCountry' and create a DataFrameGroupBy object:
covid.groupby('GeneralCountry')

We can think of this object as of a special view of the DataFrame, which is already divided into groups. To get actual results, we need to apply an aggregate on this object:

In [62]:
#For example, we can check when the date of latest observation for each country:
covid.groupby('GeneralCountry').ObservationDate.max().head()

FRANCE             2020-12-06
CONGO (KINSHASA)   2020-12-06
VATICAN CITY       2020-03-09
SWEDEN             2020-12-06
MAURITIUS          2020-12-06
Name: ObservationDate, dtype: datetime64[ns]

In [63]:
#Let's fix this ('ST. MARTIN') business:
covid['GeneralCountry'] = covid.GeneralCountry.str.strip("('")
covid.groupby('GeneralCountry').ObservationDate.max().head()

FRANCE             2020-12-06
CONGO (KINSHASA)   2020-12-06
VATICAN CITY       2020-03-09
SWEDEN             2020-12-06
MAURITIUS          2020-12-06
Name: ObservationDate, dtype: datetime64[ns]

Similarly, we can use any of the summary functions with groupby object. For example, we can see latest numbers of confirmed cases within various regions of China:

In [64]:
covid[covid.GeneralCountry == 'CHINA'].groupby('Region').Confirmed.max()

Region
SHANXI              222.0
ZHEJIANG           1295.0
SHANDONG            857.0
FUJIAN              500.0
YUNNAN              221.0
HUBEI             68149.0
TIANJIN             301.0
HENAN              1295.0
JILIN               157.0
HONG KONG          6897.0
JIANGXI             937.0
SHANGHAI           1366.0
INNER MONGOLIA      336.0
GUANGXI             263.0
GANSU               182.0
GUANGDONG          2004.0
NINGXIA              75.0
TIBET                 1.0
SHAANXI             502.0
BEIJING             952.0
LIAONING            289.0
MACAU                46.0
QINGHAI              18.0
SICHUAN             812.0
XINJIANG            980.0
HEBEI               373.0
ANHUI               992.0
HUNAN              1020.0
JIANGSU             680.0
GUIZHOU             147.0
HEILONGJIANG        949.0
CHONGQING           590.0
HAINAN              171.0
Name: Confirmed, dtype: float64

We can also group by more than one column:

In [65]:
#Group by 'GeneralCountry' and 'Region' and see maximum (=total) number of 'Deaths':
covid.groupby(['GeneralCountry', 'Region']).Deaths.max().head()

GeneralCountry  Region
SPAIN           MELILLA              43
ALBANIA         Unknown             905
US              MASSACHUSETTS     11004
UK              CAYMAN ISLANDS        2
GIBRALTAR       Unknown               0
Name: Deaths, dtype: int64

In [66]:
#Number of regions within each country:
covid.groupby('GeneralCountry').Region.nunique().head()

AFGHANISTAN    1
ALBANIA        1
ALGERIA        1
ANDORRA        1
ANGOLA         1
Name: Region, dtype: int32

In [67]:
#See 'Confirmed' and 'Deaths' numbers by GeneralCountry:
covid.groupby('GeneralCountry')[['Confirmed', 'Deaths']].max().head(10)

                  Confirmed  Deaths
GeneralCountry
FRANCE            2290891.0   54804
CONGO (KINSHASA)    13527.0     344
VATICAN CITY            1.0       0
SWEDEN              82014.0    4562
MAURITIUS             508.0      10
SINGAPORE           58260.0      29
SAN MARINO           1789.0      48
WESTERN SAHARA         10.0       1
ALGERIA             88252.0    2516
SOMALIA              4525.0     121

**reset_index()** method allows to reset index:

In [68]:
#Reset index in just created dataframe:
covid.groupby('GeneralCountry')[['Confirmed', 'Deaths']].max().reset_index().head(10)

     GeneralCountry  Confirmed  Deaths
0            FRANCE  2290891.0   54804
1  CONGO (KINSHASA)    13527.0     344
2      VATICAN CITY        1.0       0
3            SWEDEN    82014.0    4562
4         MAURITIUS      508.0      10
5         SINGAPORE    58260.0      29
6        SAN MARINO     1789.0      48
7    WESTERN SAHARA       10.0       1
8           ALGERIA    88252.0    2516
9           SOMALIA     4525.0     121

We can also use the `agg()` method to perform more general aggregations subsets of columns of our dataset.

In [69]:
covid.groupby('Country').agg(
    {
        'Deaths':'count', 
        'ObservationDate': ['min','max']
     
    }
).sort_values(('ObservationDate','min'))

                 Deaths ObservationDate
                  count             min        max
Country
MAINLAND CHINA     9918      2020-01-22 2020-12-06
JAPAN              9533      2020-01-22 2020-12-06
SOUTH KOREA         320      2020-01-22 2020-12-06
HONG KONG           320      2020-01-22 2020-12-06
TAIWAN              320      2020-01-22 2020-12-06
...                 ...             ...        ...
TAJIKISTAN          221      2020-04-30 2020-12-06
LESOTHO             208      2020-05-13 2020-12-06
SOLOMON ISLANDS      56      2020-10-12 2020-12-06
MARSHALL ISLANDS     40      2020-10-28 2020-12-06
VANUATU              27      2020-11-10 2020-12-06

[225 rows x 3 columns]

### Joining data

Often enough, while analyzing data, we need to combine different DataFrames and/or Series in non-trivial ways. Pandas has a few neat methods for doing this. 

In cases when we have data in different DataFrames (or Series) but having the same fields (columns), **concat()** function lets us join dataframes along axis.

Let's say we create a new DataFrame using *groupby()* method:

In [70]:
countries_stats = covid.groupby('GeneralCountry')[['Confirmed', 'Deaths']].max().reset_index()
countries_stats.head()

     GeneralCountry  Confirmed  Deaths
0            FRANCE  2290891.0   54804
1  CONGO (KINSHASA)    13527.0     344
2      VATICAN CITY        1.0       0
3            SWEDEN    82014.0    4562
4         MAURITIUS      508.0      10

And pretend we have just heard of two new confirmed cases - one in Mongolia, and one in Jamaica:

In [71]:
new_cases = pd.DataFrame({'GeneralCountry': ['MONGOLIA', 'JAMAICA'], 'Confirmed': [1.0, 1.0], 'Deaths': [0, 0]})
new_cases

  GeneralCountry  Confirmed  Deaths
0       MONGOLIA        1.0       0
1        JAMAICA        1.0       0

Now if we would like to study all of the affected countries simultaneously, we would use **concat()** method to stack these two DataFrames on top of one another:

In [ ]:
#Concatenate counties_stats and new_cases in new 'all_cases' DataFrame:
all_cases = pd.concat([countries_stats, new_cases])
all_cases.head()

In [ ]:
#Check:
all_cases[all_cases.GeneralCountry == 'JAMAICA']

To concat the same two DataFrames along columns, we would switch *axis* parameter to 1:

In [ ]:
#Concatenate the same DataFrames along  columns:
all_cases_too = pd.concat([countries_stats, new_cases], axis = 1)
all_cases_too.head()

**merge()** or **join()** methods let you combine different DataFrame objects which have an index in common (similar to a JOIN in SQL). Th **join** method works the best when we need to join dataframes on their indexes, while the **merge** is more versatile.

Let's create a new DataFrame listing countries and latest observation dates:

In [ ]:
#Create a new DataFrame with countries and latest observation dates:
latest_data = covid.groupby(['GeneralCountry', 'Region']).ObservationDate.max().reset_index()
latest_data.head()

Now we want to join this DataFrame with our original 'covid' DataFrame to get latest fatality rates:

In [ ]:
latest_rates = pd.merge(latest_data, covid[['GeneralCountry', 'Region', 'ObservationDate', 'MortalityRate']], \
                        on=['GeneralCountry', 'Region', 'ObservationDate'])
latest_rates

We can also specify if we need inner, outer, right, or left join, as well as add a suffix to duplicate column names:

**pd.merge(df_1, df_2, on='ID', how='left', suffixes=('_1', '_2'))**

### Pivot tables

With pandas, we can also create a spreadsheet-style pivot table as a DataFrame:

In [ ]:
#Create an Excel-style pivot table:
pd.pivot_table(covid[['GeneralCountry', 'Region', 'ObservationDate', 'Confirmed']], \
               index=['GeneralCountry','Region'], aggfunc='max')

### Data visualizations with pandas

When we want to quickly view how our data looks, pandas visualizations come in handy.

Let's look again at *all_cases* DataFrame we created some time ago:

In [ ]:
#Look at first 5 rows of 'all_cases' DataFrame:
all_cases.head()

Pandas visualizations are built on top of famous **matplotlib** library.
The standard convention for referencing the matplotlib API:

In [ ]:
import matplotlib.pyplot as plt

To make sure all plots are visible within our notebook, use this magic command:

**%matplotlib inline**

In [ ]:
%matplotlib inline

To build charts with pandas, we use basic **plot()** method:

In [ ]:
#Let's look at all confirmed cases by date:
by_date = covid.groupby('ObservationDate').Confirmed.sum().reset_index()
by_date.head(2)

In [ ]:
#Now let's visualize this with simple line chart:
by_date.plot.line(x = 'ObservationDate', y = 'Confirmed', color = 'purple', title = 'COVID-19 confirmed cases: World')

Let us now build a similar plot for US only:

In [ ]:
#Create a new 'us_daily' DataFrame with US-only data:
us_daily = covid[covid.GeneralCountry == 'US'].groupby('ObservationDate').sum().reset_index()
us_daily

In [ ]:
#create a line chart:
us_daily.plot.line(x = 'ObservationDate', y = 'Confirmed', color = 'brown', title = 'COVID-19 confirmed cases: US')

Let's look at total number of cases and deaths by country:

In [ ]:
#First, let's group everything by GeneralCountry & Region and get latest numbers of confirmed cases and deaths:
world_regions = covid.groupby(['GeneralCountry', 'Region'])[['Confirmed', 'Deaths']].max().reset_index()
world_regions.head()

In [ ]:
#Then we can get total latest numbers for each country:
world = world_regions.groupby('GeneralCountry')[['Confirmed', 'Deaths']].sum().reset_index()
world.head()

In [ ]:
#One of the basic and widely used plots - bar chart:
world.plot(kind = 'bar')

Let's try to make it looking a bit more appealing by visualizing top 10 countries only, and make horizontal bar chart, instead:

In [ ]:
#Create a DataFrame with top 10 COVID-19 confirmed cases:
top = world.sort_values(by = 'Confirmed', ascending = False).head(10)
top

A little trick to make your dataframe look more presentable by adding background color (using matplotlib built-in colormaps (**cmap**)):

In [ ]:
top10 = top.style.background_gradient(cmap='Blues',subset=["Confirmed"]).background_gradient(cmap='Reds',subset=["Deaths"])
top10

Now let's plot the simplest bar chart:

In [ ]:
#Plot the bar chart with 'top' data:
top.plot.bar()

#another way of getting the same result is:
#top.plot(kind = 'bar')

Here, by default, **plot()** method built index values on x-axis. Let's specify that we want to see countries names, instead:

In [ ]:
top.plot.bar(x = 'GeneralCountry')

In [ ]:
#Convert this to horizontal bar chart:
top.index = top.GeneralCountry
top.plot.barh()

In [ ]:
#Modify some more:
top.index = top.GeneralCountry
top.plot.barh(title = 'Top 10 Countries (Confirmed Cases and Deaths)', figsize = [10,7],\
             fontsize = 12, color = ['blue', 'red']).invert_yaxis()

### Plotting with Plotly

The plotly Python library is an interactive, open-source plotting library that supports over 40 unique chart types covering a wide range of statistical, financial, geographic, scientific, and 3-dimensional use-cases.

In [ ]:
#Import plotly and check its version:
import plotly
plotly.__version__

In case you do not have plotly installed, run the following line in your Anaconda prompt:

**conda install -c plotly plotly=4.6.0**

We are going to use Plotly Express, which is easy-to-use, high-level interface to Plotly, which produces easy-to-style figures. Every Plotly Express function returns a graph_objects.Figure object whose data and layout has been pre-populated according to the provided arguments.

Note: Plotly Express was previously its own separately-installed **plotly_express** package but is now part of plotly and importable via 

**import plotly.express as px**

In [ ]:
import plotly.express as px
import numpy as np
temp_df = pd.DataFrame(world)
temp_df = temp_df.reset_index()
fig = px.choropleth(temp_df, locations="GeneralCountry",
                    color=np.log10(temp_df["Confirmed"]), 
                    hover_name="index", # column to add to hover information
                    hover_data=["Confirmed"],
                    color_continuous_scale=px.colors.sequential.Plasma,locationmode="country names")
fig.update_geos(fitbounds="locations", visible=False)
fig.update_layout(title_text="Confirmed Cases Heat Map (Log Scale)")
fig.update_coloraxes(colorbar_title="Confirmed Cases(Log Scale)",colorscale="Blues")
fig.show()

In [ ]:
#Another example visualizing progression of COVID-19 spread across the continents:
df_data = covid.groupby(['ObservationDate', 'GeneralCountry'])['Confirmed', 'Deaths'].max().reset_index().fillna(0)
df_data["ObservationDate"] = pd.to_datetime( df_data["ObservationDate"]).dt.strftime('%m/%d/%Y')
fig = px.scatter_geo(df_data, locations="GeneralCountry", locationmode='country names', 
                     color=np.power(df_data["Confirmed"],0.3)-2 , size= np.power(df_data["Confirmed"]+1,0.3)-1, hover_name="GeneralCountry",
                     hover_data=["Confirmed"],
                     range_color= [0, max(np.power(world["Confirmed"],0.3))], 
                     projection="natural earth", animation_frame="ObservationDate", 
                     color_continuous_scale=px.colors.sequential.Plasma,
                     title='COVID-19: Progression of spread'
                    )
fig.update_coloraxes(colorscale="hot")
fig.update(layout_coloraxis_showscale=False)
fig.show()